html{
    margin: 0px;
}

h1{
    margin: 0px;
    padding: 8px;

}

ul{
    margin: 0px;
}
body{
    font-family:Helvetica,Arial,sans-serif;
    margin: 0px;
    font-size:1.5vw ;
    

}



body >  header{
    background-color:red ;
    color:rgb(255,255,255) ;
    display:flex ;
    height: 25%;
    align-items: center;
    justify-content: space-around;
}

#nav-ul{
    display: flex;
}

#nav-ul>li{
    padding:8px;
    margin: 16px;
}

body>header>nav>ul{
    list-style: none;
    text-decoration: none;


}

.navbutton{
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;

}


body> main article {
    width: 80%;
    margin: auto;
}

#main-content{
    width: 80%;
}

#main-content{
    display: flex;
    justify-content:space-around ;
}





form{
    text-align: center;

}

h2{
    text-align: center;
}
body >footer{

    background-color: red;
    display: flex;
}

img {
    border-radius: 50%;
}
#footer-ul> {
    display:flex;
}

#footer-ul>li> div > li {
    margin-left: 12 px;
}

#footer-ul>li>div>li>a{
    text-decoration: none;
    color: white;
}

